appdirs==1.4.3
beautifulsoup4==4.8.2
bs4==0.0.1
certifi==2019.11.28
chardet==3.0.4
click==7.1.1
conllu==2.3.2
corpy==0.2.3
cssselect==1.1.0
cycler==0.10.0
fake-useragent==0.1.11
idna==2.9
kiwisolver==1.1.0
lazy==1.4
lxml==4.5.0
matplotlib==3.2.1
nltk==3.4.5
numpy==1.18.2
pandas==1.0.3
parse==1.15.0
pillow==7.0.0
pyee==7.0.1
pyparsing==2.4.6
pyppeteer==0.0.25
pyquery==1.4.1
python-dateutil==2.8.1
pytz==2019.3
regex==2019.12.20
requests==2.23.0
requests-html==0.10.0
six==1.14.0
soupsieve==2.0
tqdm==4.43.0
ufal.morphodita==1.9.2.3
ufal.udpipe==1.2.0.3
urllib3==1.25.8
w3lib==1.21.0
websockets==8.1
wordcloud==1.6.0
